<div class="four-column-row">
  <div>
    <h4>Interested</h4>
    <% if @task.offers.not_accepted.present? %>
        <% @task.offers.not_accepted.each do |offer| %>
          <div class="two-column-row">
            <div>
              <%= offer.user.full_name %>
            </div>

            <div class="text-right">
              <%= form_for [@task, @task.offer_for(offer.user)] do |f| %>
                <%= f.hidden_field :accepted, value: true %>
                <%= f.submit "Accept", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% else %>
      <p class="text-warning">No one is interested.
      Consider Upping the points</p>
    <% end %>
  </div>

  <div>
    <h4>In Progress</h4>
    <% if @task.offers.accepted.present? %>
        <% @task.offers.accepted.each do |offer| %>
          <div class="two-column-row">
            <div>
              <%= offer.user.full_name %>
            </div>
            <div class="text-right">
              <%= form_for [@task, @task.offer_for(offer.user)] do |f| %>
                <%= f.hidden_field :approved, value: true %>
                <%= f.submit "Approve", class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% else %>
      <p class="text-warning">No Users Currently Accepted. Send an email asking for help..</p>
    <% end %>
  </div>

  <div>
    <h4>Completed</h4>
    <%# TODO: Test Me %>
    <%= render @task.submissions.not_approved %>
  </div>

  <div>
    <h4>Approved</h4>
    <%= render @task.submissions.approved %>
  </div>
</div>




