<section>
  <div>
    <h3>Submission by <%= @submission.user.full_name %></h3>
    <div>
      <b>Task Title</b>
      <%= @submission.task.title %>
    </div>
    <div>
      <b>Task Description</b>
      <%= @submission.task.description %>
    </div>
    <br><br>
    <b>Content</b><br>
    <%= @submission.feedback %>
    <div>
      <b>Attachments</b>
    </div>
    <div>
      <% if !@submission.approved? %>
        <%= form_for [@submission.task, @submission.offer] do |f| %>
          <%= f.hidden_field :approved, value: true %>
          <%= f.submit "Approve Work", class: "button" %>
        <% end %>
      <% end %>
      <%= link_to "Back",
        company_task_path(current_company, @submission.task)
      %>
    </div>
  </div>
</section>
