<div class="section-header">
  <h3>Submission by <%= @submission.user.full_name %></h3>
</div>

<section>
  <div>
    <div>
      <b>Task Title</b>
      <%= @submission.task.title %>
    </div>
    <div>
      <b>Task Description</b>
      <%= @submission.task.description %>
    </div>
    <br><br>
    <b>Content</b><br>
    <%= @submission.feedback %>
    <div>
      <b>Attachments</b>
    </div>

    <%= @submission.accept_form %>
  </div>
</section>

<div class="section-header">
  <%= link_to "Back",
    company_task_path(current_company, @submission.task) %>
</div>
