<%= content_for :content do %>
  <section>
    <div class="contain">
      <div class="left-rail">
        <div>
          <ul>
            <li>
              <%= link_to "Settings", edit_company_path(current_company) %>
            </li>
            <li>
              <%= link_to "Categories", company_categories_path(current_company) %>
            </li>
            <li>
              <%= link_to "Employees", company_users_path(current_company) %>
            </li>
            <li>
              <%= link_to "Billing Plan", company_billing_plan_path(current_company) %>
            </li>
            <li>
              <%= link_to "Payment Methods", company_funding_instruments_path(current_company) %>
            </li>
          </ul>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
<% end %>
<%= render template: "layouts/application" %>
